/* General Styles */
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    color: #000000;
    padding-top: 50px;
}

.text-pink {
    color: #D54D96;
}

.btn-pink {
    background-color: #D54D96;
    color: #ffffff;
    border: 2px solid #D54D96;
    border-radius: 12px;
}

.btn-pink:hover {
    color: #D54D96;
    background-color: transparent;
}

.header-nombre {
    font-size: 2.5em;
}

.header-navegacion a {
    font-size: 1.2em;
}

.header-contacto {
    font-weight: 700;
    padding: 10px 30px;
}

.about-me-section,
.design-content,
.development-content {
    margin: 0 auto;
    max-width: 1200px;
    padding: 60px 15px;
}

.about-me-content,
.design-content,
.development-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

.about-me-content img,
.design-content img,
.development-content img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-right: 20px;
    border: 4px solid #D54D96;
    border-radius: 50%;
}

.about-me-text,
.design-text,
.development-text {
    max-width: 600px;
    text-align: center;
}

.about-me-text h2,
.design-text h2,
.development-text h2 {
    font-size: 2.5em;
    margin-bottom: 15px;
}

.about-me-text p,
.design-text p,
.development-text p {
    font-size: 1.1em;
    margin: 10px 0;
}

.view-more {
    padding: 8px 20px;
    font-weight: 600;
}

.social-icons-container a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #D54D96;
    border-radius: 50%;
    margin: 0 10px;
    text-align: center;
    line-height: 50px;
    border: 2px solid #D54D96;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4), 0 0 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s, background 0.3s;
}

.social-icons-container a:hover {
    transform: translateY(-5px) scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.2);
}

.social-icons-container a i {
    color: #fff;
    font-size: 1.5em;
}

.footer {
    background-color: #000000;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

@media (max-width: 767px) {
    .header-navegacion {
        display: none;
    }

    .about-me-content,
    .design-content,
    .development-content {
        flex-direction: column;
        text-align: center;
    }

    .about-me-content img,
    .design-content img,
    .development-content img {
        margin-bottom: 20px;
    }
}
